body {
  min-height: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.search-bar {
	margin: 15px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#filters{
	padding-left:0;
}

#map{
	height:400px;
	width:850px;
	padding-left:0;
	padding-right:0;
}

#right-bar{
	
}

#results{

}

.badge {
	float: right;
}

#table-styling {
	padding-left:10px;
	padding-right:30px;
}
