.search-bar {
	margin: 15px;
}

#filters{
	font-family: Arial;
	color:lightgrey;
	text-align:center;
	height:600px;
}
#right{
	font-family: Arial;
	font-size: 16px;
	text-align:center;
	height:600px;


}
#results{

}
.badge {
	float: right;
}

.result{
	font-family: Arial;
	color:white;
	font-size: 16px;
	text-align:center;
	height:80px;
	width:700px;
	margin:5px;
	background-color:grey;
	float:top;
}
