.search-bar {
	margin: 15px;
}

#left{
	font-family: Arial;
	color:lightgrey;
	text-align:center;
}
#right{
	font-family: Arial;
	font-size: 16px;
	text-align:center;
	height:600px;

}
#results{
	font-family: Arial;
	color:lightgrey;
	font-size: 16px;
	text-align:center;
	height:600px;
	width:750px;
	margin:5px;
	background-color:grey;
	float:top;
	float:left;
}
.result{
	font-family: Arial;
	color:white;
	font-size: 16px;
	text-align:center;
	height:80px;
	width:700px;
	margin:5px;
	background-color:grey;
	float:top;
}
